<div class='row'>
  <div class='col-lg-4 col-lg-6 col-sm-12 offset-lg-2'>
    <h1 class='pb-2 mt-2 text-muted'>Login</h1>
    <form action='/auth/login' method='POST'>
      <div class='form-group'>
        <label for='email'>Email </label>
        <input type='text' name='email' id='email' class='form-control' 
          {{#if user.email}} value={{user.email}} {{/if}}
        />
      </div>
      <div class='form-group pt-2'>
        <label for='password'>Password </label>
        <input
          type='password'
          name='password'
          id='password'
          class='form-control'
          {{#if user.password}} value={{user.password}} {{/if}}
        />
      </div>
      <button class='btn btn-primary mt-3' type='submit'>Login</button>
    </form>
    <a href="/auth/google" class="btn btn-warning btn-block mt-2">Login with google</a>
  </div>

</div>