<div class='row mt-2'>
  <div class='col-lg-4 col-md-6 col-sm-12 offset-lg-3 offset-md-2 my-3'>
    <h3 class='text-center text-muted'>Reset Password</h3>
    <form action='/auth/reset-password' method='POST' class='resetPass-form'>
      <div class='form-group'>
        <label for='password'> Password :</label>
        <input
          type='password'
          name='password'
          id='password'
          class='form-control mt-2'
        />
      </div>
      <input type='hidden' name='_csrf' value='{{csrfToken}}' />
      <div class='form-group'>
        <label for='confirmPassword'>Confirm Password :</label>
        <input
          type='password'
          name='confirmPassword'
          id='confirmPassword'
          class='form-control mt-2'
        />
        <input type='hidden' name='email' value='{{email}}' />
        <input type='hidden' name='token' value='{{token}}' />
      </div>
      <button class='btn btn-primary mt-2'>Reset Password</button>
    </form>
  </div>
</div>