<footer class='sticky-footer'>
  <div class='container-fluid p-2 footer-div'>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-12'>
        <h3 class='fot-icon'>IdeaApp</h3>
        <p class='fot-text'>Sharing Ideas with others give you benefit. If you
          share a new idea with ten people, they get to hear it once and you get
          to hear it ten times</p>
      </div>
      <div class='col-lg-6 col-md-6 col-sm-12 footer-icon'>
        <h4 class='fot-text'>Contact US</h4>
        <a href='https://www.facebook.com/wasee.sarwar'><i
            class='fab fa-facebook fa-2x pr-4 icon'
          ></i></a>
        <a href='https://www.instagram.com/_w_a_s_e_e_/'><i
            class='fab fa-instagram fa-2x pr-4 icon'
          ></i></a>
        <a href='https://github.com/wasee187'><i
            class='fab fa-github fa-2x pr-4 icon'
          ></i></a>

      </div>
    </div>
  </div>
  <hr />
  <div class='text-center copyright pb-2'>
    <p>Copyright &copy;<script>document.write(new Date().getFullYear())</script>
      Wasee Sarwar. All rights reserved.</p>
  </div>
</footer>