.addIdea-form,
.login-form,
.register-form,
.comment-form,
.forgetPass-form {
  background-color: #dadada67;
  border-radius: 10px;
  color: black;
  transition: 1s;
  max-width: 800px;
  box-shadow: 3px 5px #58565623;
  margin-top: 50px;
  margin-bottom: 50px;
}
.addIdea-form:hover,
.login-form:hover,
.register-form:hover,
.comment-form:hover,
.forgetPass-form:hover {
  background-color: #4444414b;
}
/* .login-form:hover input,
.register-form:hover input,
.comment-form:hover input,
.comment-form:hover textarea {
  background-color: #dadada67;
} */
.addIdea-form input,
.addIdea-form select,
.register-form input,
.login-form input,
.forgetPass-form input {
  border-radius: 15px;
}
