<div class='container-fluid m-4'>
  <h1 class='text-center'>{{head}}</h1>

  <p class='m-4'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ducimus
    maiores exercitationem tempora nisi officiis soluta commodi repudiandae
    animi. Quam doloribus eum saepe delectus ipsum dolor quasi mollitia?
    Suscipit voluptatibus consequatur tempore numquam ipsa enim ex odio
    consectetur dignissimos perspiciatis maxime id, ut a quaerat quisquam
    accusantium eum iure ad labore recusandae cumque. Minima eveniet, maiores
    asperiores veritatis nesciunt incidunt officiis cupiditate ipsam nam dicta
    ea beatae dignissimos aliquid doloribus corrupti. Nesciunt a exercitationem
    ipsa ut temporibus voluptas voluptate aliquam?
  </p>
</div>