
    <h1>{{head}}</h1>
 
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque adipisci
      libero earum? Beatae reiciendis quis est consequatur a aut. Dignissimos
      vero accusantium, ducimus laboriosam consequatur optio ab iste cupiditate
      eum.
    </p>
