<div class='container-fluid'>
  <div class='jumbotron jumbotron-fluid p-4'>
    <div class='container'>
      <h1 class='display-4'>{{text}}</h1>
      <p class='lead'>For millions of years, mankind lived just like the
        animals. Then something happened which unleashed the power of our
        imagination. We learned to talk and we learned to listen. Speech has
        allowed the communication of ideas, enabling human beings to work
        together to build the impossible. Mankind's greatest achievements have
        come about by talking, and its greatest failures by not talking. It
        doesn't have to be like this. Our greatest hopes could become reality in
        the future. With the technology at our disposal, the possibilities are
        unbounded. All we need to do is make sure we keep talking.</p>
      <p class='d-flex justify-content-end lead text-muted'>― Stephen Hawking</p>
      <hr class='my-4' />
      <p class='lead'>Let's build world to a better place by sharing our ideas.</p>
      <p class='lead'>
        <a class='btn btn-outline-primary btn-lg' href='/ideas'>Learn more</a>
        <a class='btn btn-outline-info btn-lg' href='/auth/register'>Sign Up</a>
      </p>
    </div>
  </div>
</div>