<div class='jumbotron jumbotron-fluid p-3'>
  <div class='container-fluid indexPage'>
    <p>Let's build world to a better place by sharing your ideas.</p>
    <div class='jumboBTN'>
      <a class='btn btn-primary btn-lg btn-learn' href='/ideas'>Learn more</a>
      <a class='btn btn-info btn-lg btn-signUp' href='/auth/register'>Sign Up</a>
    </div>
  </div>

</div>